<h1>Toilets are HERE</h1>

<table>
	<tr>
		<th>ID</th>
		<th>X</th>
		<th>Y</th>
		<th>CHARGE</th>
		<th>ADDRESS</th>
	</tr>
	
	<% @toilets.each do |toilet| %>
	<tr>
		<td><%= link_to toilet.id, toilet_path(toilet) %></td>
		<td><%= toilet.geox %></td>
		<td><%= toilet.geoy %></td>
		<td><%= toilet.chargeamount %></td>
		<td><%= toilet.streetaddress %></td>
	</tr>
	<% end %>
	
</table>
