<!-- by Mikolaj Panasiuk and Marcel Zak -->

<div id="map-canvas"></div>

<% unless mobile? %>
	<div class="container-fluid" id="main"><div class="row"><div class="col-xs-6" id="left">
<%else%>
	<div class="col-xs-12" id="down"><div><div>
<% end %>
<h3>Toilet at <%= @toilet.streetaddress %></h3>
<!-- item list -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Toilet Information</h4> 
		<% if user_exist? && User.find(session[:user_id]).admin %>
			<a <%= 'href=/toilets/delete/' + @toilet.id.to_s %>>delete</a>
		<% end %>
	</div>
	<div class="panel-body">
		<ul>
			<% @information.each do |key, value| %>
				<% if value != nil %>
					<li><%= key %><%= key == "Report Email: " ? value : value.capitalize %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>
<% if session[:user_id].nil? %>
	<div class="panel panel-default">
   		<div class=" panel-heading">
		   	<h4>Rating:</h4>
		</div>
		<div class="panel-body">
		   	<p>Log in to see and do rating!</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Comments</h4>
		</div>
		<div class="panel-body">
			<p>Log in to see and write comments!</p>
		</div>
	</div>
<% else %>
   	<div class="panel panel-default">
   		<div class=" panel-heading">
		   	<h4>Rating: <span id="rating"><%= @toilet.upvotes - @toilet.downvotes %></span></h4>
		</div>
		<div class="panel-body">
		   	<a class="rate" id="thumb-up">
		   		<i class="fa fa-thumbs-o-up fa-3x"></i>
		   		<span id="up-value"><%= @toilet.upvotes %></span> <!-- need these spans to dynamically update vote numbers -->
		   	</a>
		   	<a class="rate" id="thumb-down">
		   		<span id="down-value"><%= @toilet.downvotes %></span>
		   		<i class="fa fa-thumbs-o-down fa-3x"></i>
		   	</a>
		   	<div id="progressbar"></div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Comments</h4>
		</div>
		<div class="panel-body" id="comment-container">
			<div class="panel panel-default" id="comment-form-header">
				<%= render 'comment_form' %>
			</div>
			<% @comments.each do |comment| %>
				<div class="panel panel-default comment">
					<div class="panel-heading">
						<% @user = User.find(comment.user_id) %>
						Comment by: <%= @user.name %>, Time: <%= comment.date %>
						<% if session[:user_id] == comment.user_id || User.find(session[:user_id]).admin == true %>
							<% if session[:user_id] == comment.user_id %>
								<a href=<%= "/comments/edit/" + comment.id.to_s %>>edit</a>
							<% end %>
							<a class="delete-comment-link" data-commentid=<%= comment.id %> href=<%= "comments/delete/" + comment.id.to_s %>>delete</a>
						<% end %>
					</div>
					<div class="panel-body">
						<%= comment.message %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
<% end %>


</div>
</div>
</div>

<%= javascript_tag do %>
  window.toiletid = "<%= params[:id] %>";
<% end %>

<script type="text/javascript">
	
	$(document).ready(function() {
		//rating
		$("#up").click(function(){
			$.ajax({
				type: "GET",
				url: "/toilets/" + toiletid + "/up",
				dataType: "json",
				success: function(toilet) {
					$("#rating").text(toilet.upvotes - toilet.downvotes);
					$("#up-value").text(toilet.upvotes);
					updateProgressBar(toilet.upvotes, toilet.downvotes);
				}
			});
		});
		$("#down").click(function(){
			$.ajax({
				type: "GET",
				url: "/toilets/" + toiletid + "/down",
				dataType: "json",
				success: function(toilet) {
					$("#rating").text(toilet.upvotes - toilet.downvotes);
					$("#down-value").text(toilet.downvotes);
					updateProgressBar(toilet.upvotes, toilet.downvotes);
				}
			});
		});
		//comments
		$("#message_body").keyup(function(){
			var max = 300;
			var text = $("#message_body").val();
			len  = text.length 
			if (len > max) {
				var newText = "";
				for (var i = 0; i < max; i++) {
					newText += text[i];
				}
				$("#message_body").val(newText);
			}
			$("#characters_left").text(max - $("#message_body").val().length);
		});
		
		$("#new_comment").submit(function(e) {
			e.preventDefault();
			if(validateComment()) {
				var params = {
					message: $('#new_comment').find('textarea[name="message[body]"]').val(),
					toilet_id: $('#new_comment').find('input[name="comment[toilet_id]"]').val(),
					user_id: $('#new_comment').find('input[name="comment[user_id]"]').val(),
					date: $('#new_comment').find('input[name="comment[date]"]').val()
				};
				$.ajax({
					type: "POST",
					url: "/comments/create",
					data: params,
					dataType: "json",
					success: function(comment) {
						$("#comment-container #comment-form-header").after(
							'<div class="panel panel-default">' +
							'<div class="panel-heading">' +
							'Comment by:' + comment.username + ', Time: ' + comment.date + " " + 
							'</div>' +
							'<div class="panel-body">' +
							comment.message +
							'</div></div>'
						);
					}
				});
				$('#new_comment').find('textarea[name="message[body]"]').val("");
			}
		});
		$(".delete-comment-link").click(function(e) {
			e.preventDefault();
			var id = $(this).data("commentid");
			$.ajax({
				type: "GET",
				url: "/comments/delete/" + id,
				dataType: "json",
				success: function(x) {
				}
			});
			$(this).parent().parent().remove();
		});
	});
	
	function updateProgressBar(up, down) {
		var toilet_rating_progressbar = (up + down) / 100.0;
		if (toilet_rating_progressbar == 0.00) {
			toilet_rating_progressbar = 50;
		} else {
			toilet_rating_progressbar = up / toilet_rating_progressbar;
		}
		$( "#progressbar" ).progressbar({
	      value: toilet_rating_progressbar
	    });
	}
	
	function validateComment() {
		//validate contact length on submit
		var max = 300;
		var text = $("#message_body").val();
		len = text.length
		if (len > max || len == 0) {
			alert("Comment too long or no comment");
			return false;
		}
		return true;
	}

	//google API
	function initMap() {
		var directionsService = new google.maps.DirectionsService;
  		var directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers: true});
		map = new google.maps.Map(document.getElementById('map-canvas'), {
			center: {lat: 53.0, lng: -1.0 },
			zoom: 6
		});
  	  	directionsDisplay.setMap(map);
  	  	
		$.ajax({
			type: "GET",
			url: "/toilets/get_json_id/" + toiletid,
			dataType: "json",
			success: function(toilet) {
				var toiletPos = setMarkers(toilet, map);
				map.setCenter(toiletPos);
				findCurrentPositionAndCreateRoute(map, toiletPos, directionsService, directionsDisplay);
			}
		});
		
		
	}
	
	//set the markers
	function setMarkers(toilet, map){
		var x = toilet.geox;
		var y = toilet.geoy;
		var ref = toilet.coordinatereferencesystem;
		if (ref == "OSGB36") {
			osgb=new GT_OSGB();
			osgb.setGridCoordinates(x, y);
			wgs84 = osgb.getWGS84();		
			y = wgs84.latitude; x = wgs84.longitude;
		}
		if (x != null && y != null) {
			var marker = new google.maps.Marker({
				position: {lat: y, lng: x },
				map: map
			});
			var pos = {lat: y, lng: x};
			return pos;
		} else {
			console.log("NO COORDINATES");
		}     
	}
	
	//find position and then create route
	function findCurrentPositionAndCreateRoute(map, toiletPos, directionsService, directionsDisplay) {
		// W3C Browser Location
		var pos;
	    if(navigator.geolocation) {
	      browserSupportFlag = true;
	      navigator.geolocation.getCurrentPosition(function(position) {			
	      var location = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
	      pos = {lat: position.coords.latitude, lng: position.coords.longitude};
	      var marker = new google.maps.Marker({
	      	position: location,
	      	map: map,
	      	icon: 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png'
	      });
	      createRoute(map, toiletPos, pos, directionsService, directionsDisplay)
	    }, function() { console.log("Cannot find position")});
	    }
	}
	
	//create route
	function createRoute(map, toiletPos, currentPos, directionsService, directionsDisplay) {
	 directionsService.route({
	    origin: currentPos,
	    destination: toiletPos,
	    travelMode: google.maps.TravelMode.WALKING
	  }, function(response, status) {
	    if (status === google.maps.DirectionsStatus.OK) {
	      directionsDisplay.setDirections(response);
	    } else {
	      console.log("directions failed");
	    }
	  });
	}
	
	$(function() {
    $( "#progressbar" ).progressbar({
      value: <%= @toilet_rating_progressbar %>
    });
  });
</script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsrwi8Uo3FnFtArv67k4sxWbTNz6kGN24&callback=initMap"></script>
