<!DOCTYPE html>
<html>
<head>
  <title>HurryApp</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <% unless mobile? %>
  <%= stylesheet_link_tag "main", media: 'all', 'data-turbolinks-track' => true %>
  <%else%>
  <%= stylesheet_link_tag "mobile.css", media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  <% end%>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div class="navbar navbar-custom navbar-fixed-top">
 <div class="navbar-header">
   <i class="fa fa-male fa-3x"></i>
   <i class="fa fa-map-signs fa-2x"></i>
   <i class="fa fa-female fa-3x"></i>
   <a href="#" id="fb-link"><i class="fa fa-facebook-square fa-3x" id="facebook-icon"></i></a>
     <%= link_to "HurryApp", root_url, {:class => "navbar-brand"} %>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/toilets/closest"><i class="fa fa-map-signs"></i> Nearest toilet</a></li>
        <% if user_exist? %>
          <li class="active" id="user-name"><i class="fa fa-hand-peace-o"></i> Hello <%= session[:user_name] %></li>
          <% if User.find(session[:user_id]).admin %>
            <li><%= link_to '<i class="fa fa-user-md"></i> Manage Users'.html_safe, controller: "users", action: "index" %></li>
            <li><%= link_to '<i class="fa fa-plus"></i><i class="fa fa-map-marker"></i> Add toilet'.html_safe, controller: "toilets", action: "new" %> </li>
            <li><%= link_to '<i class="fa fa-list-ol"></i> List Toilets'.html_safe, controller: "toilets", action: "index" %></li>
          <% end %>
          <li><%= link_to '<i class="fa fa-sign-out"></i> Log Out'.html_safe, logout_path, :method => :delete, data: {confirm: "Are you sure?"} %></li>
        <% else %>
          <li><%= link_to '<i class="fa fa-sign-in"></i> Log In'.html_safe, controller: "sessions", action: "create" %></li>
          <li class="active"><%= link_to '<i class="fa fa-pencil"></i> Register'.html_safe, controller: "users", action: "new" %></li>
          <li>&nbsp;</li>
        <% end %>
      </ul>
    </div>
</div>

<%= yield %>

</body>
</html>
